{% extends 'blog/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<h3>Что такое 99games? </h3>
<p>99games — это платформа, на которой размещаются самые свежие новости из мира видеоигр. У площадки нет консолидированной позиции, здесь собираются люди с разными мнениями и взглядами на одни и те же продукты развлекательной индустрии.</p>

<h3>Наши читатели — писатели</h3>
<p>Вместе с редакцией созданием контента занимаются пользователи, которые свободно, но аргументированно, без мата, спама и политических тем, формулируют свои ощущения от новых игр.</p>
{% endblock %}
